<div id="answerGroup" class="answers margin-top">
  {{>components-cards-question-answer(correct-or-wrong: 'correct', answer: "Subtract 2", math-top: "3x + 2 = 10", math-bottom-left: "-2", math-bottom-right: "-2", align-math: "21px")}}
  {{>components-cards-question-answer(correct-or-wrong: 'wrong', answer: "Add 2", math-top: "3x + 2 = 10", math-bottom-left: "+2", math-bottom-right: "+2", align-math: "17px")}}
  {{>components-cards-question-answer(correct-or-wrong: 'wrong', answer: "Multiply 2", math-top: "3x + 2 = 10", math-bottom-left: "x2", math-bottom-right: "x2", align-math: "18px")}}
  {{>components-cards-question-answer(correct-or-wrong: 'wrong', answer: "Divide 2", math-top: "3x + 2 = 10", math-bottom-left: "/2", math-bottom-right: "/2", align-math: "22px")}}
</div>
