{{> layouts-navigation-selected-topic-types-layout}}
<div class="container padding scroll">
    <div class="container padding border-top padding-top">
        <p class="padding-top text-center">Practice Problems:</p>
      {{>atoms-cards-generic-arrow(card-generic-arrow: 'Calculate Price Elasticity - If Neils elasticity of...')}}
      {{>atoms-cards-generic-arrow(card-generic-arrow: 'Calculate Price Elasticity - Yesterday the price was')}}
      {{>atoms-cards-generic-arrow(card-generic-arrow: 'Calculate Price Elasticity - Kate raises the price of...')}}
    </div>
</div>

