{{> components-navigation}}
<div class="container">
  {{> atoms-text(regular-text: "Which is a better buy: 14.5 oz can for $1.99 or 28 oz. can for $3.59?")}}
</div>

<div class="container">
    {{>components-cards-question-answer-correct-progress(answer: "Convert to unit price equation: $1.99/14.5 and $3.59/28")}}
</div>

<div class="container">
    {{> atoms-large-text(large-text: "Steps 2/4")}}
    <div id="answerGroup" class="answers margin-top">
        {{>components-cards-question-answer(correct-or-wrong: 'wrong', answer: "Divide: $1.99/14.5 = $1.37; $3.59/28 = $1.28")}}
        {{>components-cards-question-answer(correct-or-wrong: 'correct', answer: "Divide: $1.99/14.5 = 13.7 cents; $3.59/28 = 12.8 cents")}}
        {{>components-cards-question-answer(correct-or-wrong: 'wrong', answer: "Divide: $1.99/$3.59 = 0.55")}}
        {{>components-cards-question-answer(correct-or-wrong: 'wrong', answer: "Multiply: $1.99 x 14.5 = 28.855; $3.59 x 28 = 100.52")}}
    </div>

    {{>atoms-primary-button(primary: "Next Step", added-class: "mobile-resize next hide", url: '{{base-url}}{{link.screens-screen-eight}}')}}
</div>

