<ul class="sg-colors">
    <li>
        <span class="sg-swatch" style="background: #6abb6c;"></span>
        <span class="sg-label">
        $green <br />
        #6abb6c
      </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #ee2b1b;"></span>
        <span class="sg-label">
        $red <br />
        #ee2b1b
      </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #ff6137;"></span>
        <span class="sg-label">
        $orange <br />
        #ff6137
      </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #4c7bff;"></span>
        <span class="sg-label">
        $stripe <br />
        #4c7bff
      </span>
    </li>
</ul>
