{{> components-navigation}}
<div id="overflow">
  {{>components-equation-one}}
  <div class="container text-center">
    {{>atoms-large-text(large-text: "Step 1/6") }}
  </div>
  <div class="container">
    {{>atoms-input(placeholder-text: "Enter a Value")}}
  </div>
  <div id="hintBtnGroup" class="container text-center">
      <div class="container hint-bg border text-center margin-bottom hide">
          <span> Hint: Substitute 7 for x in equation </span>
      </div>
    {{>atoms-hint-button(hint: "Show Hint", info: true)}}
    {{>atoms-step-button:hide(step: "Show Me Step")}}
      <div class="container hint-bg border margin-bottom hide">
        {{>atoms-equation-one-step}}
      </div>
    {{>atoms-submit-step-button(text: "Submit", url: "{{link.screens-screen-thirteen}}")}}
  </div>
</div>
<div id="calculatorContainer" data-answer="72 + 2(7+7) - 19">
  {{>components-calculator}}
</div>

