<div class="overlay">
    <p class="white padding text-center">how to: calculating price elasticity </p>
  <p class="white padding-left padding-right">Calculating elasticity of demand involves Division of Fractions, Ratios, Subtraction of Fractions, Rates, Percent, the Cartesian Coordinate Grid, and the Midpoint Formula… Here’s an example elasticity problem…</p>
    <div class="video padding">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/djXpvI_VrAY" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="padding text-center">
        {{>atoms-primary-button(primary: "Close Video")}}
    </div>
</div>
{{> layouts-navigation-selected-topic-layout}}
<div class="container padding scroll">
    <div class="container padding border-top padding-top">
      {{>atoms-cards-video(card-video: 'Calculate Price Elasticity Video')}}
    </div>
    <div class="container padding border-top padding-top">
        <p class="padding-top text-center">Practice Problems:</p>
      {{>atoms-cards-generic-arrow(card-generic-arrow: 'Calculate Price Elasticity - If Neils elasticity of...')}}
      {{>atoms-cards-generic-arrow(card-generic-arrow: 'Calculate Price Elasticity - Yesterday the price was')}}
      {{>atoms-cards-generic-arrow(card-generic-arrow: 'Calculate Price Elasticity - Kate raises the price of...')}}
    </div>
    <div class="container padding border-top padding-top">
        <p class="padding-top text-center">How To:</p>
      {{>atoms-cards-generic-arrow(card-generic-arrow: 'How To: Calculate elasticity')}}
    </div>
</div>

