<div class="overlay hide {{ styleModifier }}">
    {{#howto }}
    <p class="white padding text-center">how to: calculating price per unit</p>
    <p class="white padding-left padding-right">Calculating elasticity of demand involves Division of Fractions, Ratios, Subtraction of Fractions, Rates, Percent, the Cartesian Coordinate Grid, and the Midpoint Formula… Here’s an example elasticity problem…</p>
    {{/howto}} {{#calculate }}
    <p class="white padding text-center">calculating price per unit</p>
    {{/calculate}}
    <div class="video padding">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/djXpvI_VrAY" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="padding text-center">
        {{#calculate }}
        <button class="pe-btn pe-btn--primary pe-btn--large close-btn">Close Video</button>
        {{/calculate}} {{#howto }}
        <button class="pe-btn pe-btn--primary pe-btn--large close-howto-btn">Close Video</button>
        {{/howto}}
    </div>
</div>
