<a href="{{link-url}}" class="card-link {{ styleModifier }}">
  <div class="pe-card flex flex-start align-center card-bg-gray margin-bottom">
      <div class="card-icon-container">
          <span class="fa fa-info-circle fa-lg" aria-hidden="true"></span>
      </div>
      <div class="pe-card__content truncate">
          {{card-hand-video}}
      </div>
  </div>
</a>
