<div id="answerGroup" class="answers margin-top">
  {{>components-cards-question-answer(correct-or-wrong: 'wrong', answer: "Compare: 13.7 < 12.8")}}
  {{>components-cards-question-answer(correct-or-wrong: 'wrong', answer: "Compare: 13.7 = 12.8 ")}}
  {{>components-cards-question-answer(correct-or-wrong: 'wrong', answer: "Compare: 1.37 < 12.8")}}
  {{>components-cards-question-answer(correct-or-wrong: 'correct', answer: "Compare: 13.7 > 12.8")}}
</div>
