<a href="{{link-url}}" class="card-link {{ styleModifier }}">
    <div class="pe-card flex space-between card-bg-gray margin-bottom">
        <div class="card-icon-container">
            <span class="fa fa-cube fa-lg" aria-hidden="true"></span>
        </div>
        <div class="pe-card__content truncate flex-grow-2">
            {{card-generic-arrow}}
        </div>
        <div class="card-icon-container">
            <span class="fa fa-chevron-right" aria-hidden="true"></span>
        </div>
    </div>
</a>

