<div class="pe-card card-bg-gray">
    <div class="pe-card__content">
        Card Content Regular
    </div>
</div>

<div class="pe-card flex space-between align-center card-bg-gray">
    <div class="pe-card__content">
        Card Content With Arrow
    </div>
    <div class="card-icon-container">
        <span class="pe-icon--chevron-right" aria-hidden="true"></span>
    </div>
</div>

<div class="pe-card flex flex-start align-center card-bg-gray">
    <div class="card-icon-container">
        <span class="fa fa-youtube-play fa-3x" aria-hidden="true"></span>
    </div>
    <div class="pe-card__content">
        Card Content With Video
    </div>
</div>

<div class="pe-card flex flex-start align-center card-bg-gray">
    <div class="card-icon-container">
        <span class="fa fa-hand-o-right fa-3x" aria-hidden="true"></span>
    </div>
    <div class="pe-card__content">
        Card Content With Video
    </div>
</div>

<div class="pe-card correct">
    <div class="pe-card__content">
        Card Content Correct
    </div>
</div>

<div class="pe-card wrong">
    <div class="pe-card__content">
        Card Content Wrong
    </div>
</div>
