<button class="pe-btn pe-btn--large landing-btn" onclick="window.location.href='{{ link.screens-screen-nineteen}}'">
    <span class="fa fa-camera-retro fa-3x" aria-hidden="true"></span>
    <span class="icon-tap-text">{{photo}}</span>
</button>
