{{> components-navigation}}
<div id="overflow">
  {{>components-equation-one(step-one: true, step-two: true)}}
    <div class="container text-center">
      {{>atoms-large-text(large-text: 'Step 3/6') }}
    </div>
    <div class="container no-padding-bottom">
      {{>atoms-input(placeholder-text: 'Enter Step 3')}}
    </div>
    <div id="hintBtnGroup" class="container text-center">
        <div class="container hint-bg border text-center margin-bottom hide">
            <span> Hint: Evaluate 7<sup>2</sup> </span>
        </div>
      {{>atoms-hint-button(hint: "Show Hint", info: true)}}
      {{>atoms-step-button:hide(step: "Show Me Step")}}
        <div class="container hint-bg border margin-bottom hide">
          {{>atoms-equation-three-step}}
        </div>
      {{>atoms-submit-step-button(text: "Submit", url: "{{base-url}}{{link.screens-screen-fifteen}}")}}
    </div>
</div>
<div id="calculatorContainer" data-answer="49 + 2 x 14 - 19">
  {{>components-calculator}}
</div>

