{{> components-navigation}}
<div class="scroll-calc">
  {{>components-equation-one(step-one: true, step-two: true, step-three: true, step-four: true)}}
    <div class="container text-center">
      {{>atoms-large-text(large-text: 'Step 5/6') }}
    </div>
    <div class="container no-padding-bottom">
      {{>atoms-input(placeholder-text: 'Enter Step 5')}}
    </div>
    <div class="container text-center">
      {{>atoms-save-button(save: "Show Hint", info: true)}}
      {{>atoms-primary-button(primary: "Submit")}}
    </div>
</div>

{{>components-calculator}}
