<div class="container no-padding special-bg flex-child-div">
    <div class="row flex-child-div">
      {{>atoms-special-button(calc-number: '123')}}
      {{>atoms-special-button(calc-number: 'f(x)')}}
      {{>atoms-special-button(calc-number: '~')}}
      {{>atoms-special-button(calc-number: '{}')}}
      {{>atoms-special-button(calc-number: 'abc')}}
      {{>atoms-special-button(calc-number: '%')}}
      {{>atoms-special-button(calc-number: '#')}}
    </div>
</div>
