<div class="container padding">
  {{> components-navigation(more-buttons: true) }}
  {{>atoms-select(selected-two: 'selected', selected-one: 'disabled', select-option-one: 'Select discipline', select-option-two: 'Economics', value-two: '{{base-url}}{{link.screens-screen-three}}') }}
  {{>atoms-select(selected-one: 'selected disabled', select-option-one: 'Select Topic', select-option-two: 'Price Per Unit', value-two: '{{base-url}}{{link.screens-screen-four}}') }}

  <div class="filter-container flex space-between">
    {{>atoms-select(selected-one: 'selected disabled', selected-two: 'disabled', select-option-one: 'Type', select-option-two: 'Practice Problems')}}
    {{>atoms-select(selected-one: 'selected disabled', selected-two: 'disabled', select-option-one: 'Sort by', select-option-two: 'Sort one')}}
  </div>
</div>
