{{> components-navigation}}
<div class="scroll-calc">
  {{>components-equation-one(step-one: true, step-two: true, step-three: true, step-four: true, step-five: true)}}
    <div class="container text-center">
      {{>atoms-large-text(large-text: 'Step 6/6') }}
    </div>
    <div class="container no-padding-bottom">
      {{>atoms-input(placeholder-text: 'Enter Step 6')}}
    </div>
    <div class="container text-center">
        <div class="container hint-bg border text-center margin-bottom">
            <span> Hint: Subtract 19 from 77</span>
        </div>
      {{>atoms-primary-button(primary: "Submit")}}
    </div>
</div>

{{>components-calculator}}
