{{> components-navigation}}
<div class="scroll-calc">
  <div class="container text-center">
    {{>atoms-large-text(large-text: 'Try your own') }}
  </div>
  <div class="container no-padding-bottom">
    {{>atoms-input(start-problem: true, label: 'Type Problem:', placeholder-text: 'Example: 3x+2=10')}}
  </div>
  <div class="container text-center">
    {{>atoms-submit-step-button(text: "Lets solve now", url: "{{link.screens-screen-twelve}}")}}
  </div>
</div>
<div id="calculatorContainer" data-answer="X2 + 2(X+7) - 19 where X = 7">
  {{>components-calculator}}
</div>
