<div id="answerGroup" class="answers margin-top">
  {{>components-cards-question-answer(correct-or-wrong: 'correct', answer: "The 28 oz. can is cheaper per unit. ")}}
  {{>components-cards-question-answer(correct-or-wrong: 'wrong', answer: "The 14.5 oz can is cheaper per unit. ")}}
  {{>components-cards-question-answer(correct-or-wrong: 'wrong', answer: "They both are equal.")}}
  {{>components-cards-question-answer(correct-or-wrong: 'wrong', answer: "The 28 oz. can is more expensive.")}}
</div>
