<div class="dropdown-container pos-relative">
    <button class="pe-btn pe-btn--primary pe-btn--large {{added-class}} dropdown">{{primary}}</button>
    <ul class="hide">
        <li><a href="">Item One</a></li>
        <li><a href="">Item Two</a></li>
    </ul>
</div>

