<div class="container padding">
  {{> components-navigation(more-buttons: true) }}
  {{>atoms-select(select-option-one: 'Economics', select-option-two: 'Please Select') }}
  {{>atoms-select(select-option-one: 'Price Elasticity', select-option-two: 'Please Select') }}

  <div class="filter-container flex space-between">
    {{>atoms-select(select-option-one: 'Type', select-option-two: 'Practice')}}
    {{>atoms-select(select-option-one: 'Sort by', select-option-two: 'Sort one')}}
  </div>
</div>
