{{> components-navigation}}
<div class="scroll-calc">
  {{>components-equation-one(step-one: true, step-two: true, step-three: true, step-four: true)}}
    <div class="container text-center">
      {{>atoms-large-text(large-text: 'Step 5/6') }}
    </div>
    <div class="container no-padding-bottom">
      {{>atoms-input(placeholder-text: 'Enter Step 5')}}
    </div>
    <div class="container text-center">
        <div class="container hint-bg border text-center margin-bottom">
            <span> Hint: Evaluate 49 + 28 using long addition.</span>
        </div>
        <div class="container hint-bg border margin-bottom">
          {{>atoms-equation-five-step}}
        </div>
      {{>atoms-primary-button(primary: "Submit")}}
    </div>
</div>

{{>components-calculator}}
