{{> components-navigation(additional: true, more-buttons: true, select-topic: true, select-type: true, practice-problems: true) }}
<div class="container padding scroll">
    <div class="container padding border-top">
        {{>components-practice-heading}}
      {{>atoms-cards-generic-arrow(card-generic-arrow: 'ABC Company has total variable costs of $50,000 and total fixed costs of….')}}
      {{>atoms-cards-generic-arrow(card-generic-arrow: 'Goody Picnic Tables Inc. has the followingper-unit information: Selling price - $450…')}}
      {{>atoms-cards-generic-arrow:problem(card-generic-arrow: 'Which is a better buy: 14.5 oz can for $1.99 or 28 oz. can for $3.59? ', link-url: '{{base-url}}{{link.screens-screen-six}}')}}
    </div>
</div>
{{> components-construction }}

