{{> components-navigation}}
<div class="container padding">
  {{> atoms-questions}}
</div>

<div class="container padding">
  {{>components-cards-question-answer-correct-progress(answer: "Convert to unit price equation: $1.99/14.5 and $3.59/28")}}
</div>

<div class="container padding">
    {{> atoms-steps(step: "2/4")}}
      {{>layouts-problem-step-two}}
  {{>atoms-primary-button(primary: "Next Step", added-class: "mobile-resize next hide", url: '{{base-url}}{{link.screens-screen-eight}}')}}
</div>

