{{> components-navigation}}
<div class="container padding">
  {{> atoms-questions}}
</div>
<div class="container padding">
  {{> atoms-steps}}
  {{>layouts-problem-step-one}}
  {{>atoms-primary-button(primary: "Next Step", added-class: "mobile-resize next hide", url: '{{link.screens-screen-nine}}')}}
</div>

