<header class="padding">
    <nav class="flex space-between">
        <button class="pe-btn pe-btn--large menu-btn">
            <span class="fa fa-bars fa-lg menu-btn " aria-hidden="true"></span>
            <span class="pe-sr-only">menu</span>
        </button>

        {{# more-buttons }}
          <button class="pe-btn pe-btn--primary pe-btn--large auto-width">Disciplines</button>
          <button class="pe-btn pe-btn--large auto-width">Math</button>
          {{>atoms-select(selected-one: 'selected disabled', selected-two: 'disabled', select-option-one: 'Type', select-option-two: 'Practice')}}
        {{/more-buttons}}
    </nav>
</header>
{{#additional}}


<div class="container">
    <div class="pe-inlineblock pos-relative full-width margin-bottom">
        <div class="icon">
            <span aria-hidden="true" class="fa fa-chevron-down"></span>
        </div>
        <div class="pe-select full-width margin-clr">

            <select class="full-width" id="se1" onchange="window.location.href=this.value">
                {{#select-discipline}}
                <option disabled selected value="">Select discipline</option>
                <option value="{{base-url}}{{link.screens-screen-three}}">Economics</option>
                {{/select-discipline}} {{#select-topic}}
                <option disabled value="">Select discipline</option>
                <option selected value="{{base-url}}{{link.screens-screen-three}}">Economics</option>
                {{/select-topic}}
            </select>

        </div>
    </div>

    {{#select-topic}}
    <div class="pe-inlineblock pos-relative full-width margin-bottom">
        <div class="icon">
            <span aria-hidden="true" class="fa fa-chevron-down"></span>
        </div>
        <div class="pe-select full-width margin-clr">
            <select class="full-width" id="se1" onchange="window.location.href=this.value">
                {{#select-topic-options}}
                <option disabled selected value="">Select Topic</option>
                <option value="{{base-url}}{{link.screens-screen-four}}">Price Per Unit</option>
                {{/select-topic-options}} {{#select-type}}
                <option disabled value="">Select Topic</option>
                <option selected value="{{base-url}}{{link.screens-screen-four}}">Price Per Unit</option>
                {{/select-type}}
            </select>
        </div>
    </div>
    {{/select-topic}}

    <div class="no-border flex space-between">
        <div class="pe-inlineblock pos-relative full-width margin-bottom">
            <div class="icon">
                <span aria-hidden="true" class="fa fa-chevron-down"></span>
            </div>
            <div class="pe-select full-width margin-clr">
                <select class="no-border full-width" id="se1" onchange="window.location.href=this.value">
                    {{#select-topic-options}}
                    <option disabled selected value="">Type</option>
                    <option disabled value="">Practice Problems</option>
                    {{/select-topic-options}} {{#select-type-options}}
                    <option disabled selected value="">Type</option>
                    <option value="{{base-url}}{{link.screens-screen-five}}">Practice Problems</option>
                    {{/select-type-options}} {{#practice-problems}}
                    <option disabled value="">Type</option>
                    <option selected value="{{base-url}}{{link.screens-screen-five}}">Practice Problems</option>
                    {{/practice-problems}}
                </select>

            </div>
        </div>
        <div class="pe-inlineblock pos-relative full-width margin-bottom">
            <div class="icon">
                <span aria-hidden="true" class="fa fa-chevron-down"></span>
            </div>
            <div class="pe-select full-width margin-clr">

                <select class="no-border full-width" id="se1" onchange="window.location.href=this.value">
                    <option disabled selected value="">Sort by</option>
                    <option disabled value="">Sort one</option>
                </select>

            </div>
        </div>
    </div>
</div>
{{/additional}} {{> components-mobile-menu }}








