<div class="container">
  <div class="border-bottom padding-bottom">
      <strong class="margin-right">Problem:</strong>
      {{>atoms-equation-one}}
  </div>
  {{#step-one}}
      <div class="padding-top padding-bottom">
          <strong class="margin-right">Step 1:</strong> {{>atoms-equation-one-step}}
      </div>
  {{/step-one}}
  {{#step-two}}
      <div class="padding-top padding-bottom">
          <strong class="margin-right">Step 2:</strong> {{>atoms-equation-two-step}}
      </div>
  {{/step-two}}
  {{#step-three}}
      <div class="padding-top padding-bottom">
          <strong class="margin-right">Step 3:</strong> {{>atoms-equation-three-step}}
      </div>
  {{/step-three}}
  {{#step-four}}
      <div class="padding-top padding-bottom">
          <strong class="margin-right">Step 4:</strong> {{>atoms-equation-four-step}}
      </div>
  {{/step-four}}
  {{#step-five}}
      <div class="padding-top padding-bottom">
          <strong class="margin-right">Step 5:</strong> {{>atoms-equation-five-step}}
      </div>
  {{/step-five}}
  {{#step-six}}
      <div class="padding-top padding-bottom">
          <strong class="margin-right">Answer:</strong> 58
      </div>
  {{/step-six}}
</div>
