.menu-btn {
  @include btn-color(transparent, $blue);
}

.save-btn {
  @include btn-color($green, $white);
  @include mobile-button;

}

.mobile-resize {
  @include mobile-button;
}
.practice-btn {
  @include btn-color($orange, $white);
  @include mobile-button;
}

.landing-btn {
  @include btn-color(transparent, $black);
  height:auto;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding:19px;
}

.icon-tap-text {
  //display:block;
  //position:relative;
  //top:-15px;
}

.dropdown-container {
   ul {
     width:40%;
     padding-left:0;
     border-bottom:1px solid $gray;

     li {
       list-style-type: none;


       a {
         display:block;
         border:1px solid $gray;
         border-bottom:0;
         padding:15px;
         cursor: pointer;
       }
     }
   }
}