button {
  @include mobile-button;
}
.menu-btn {
  @include btn-color(transparent, $blue);
  width:auto;
  text-align: left;
}

.save-btn {
  @include btn-color($green, $white);
}

.mobile-resize {
  @include mobile-button;
}
.practice-btn {
  @include btn-color($orange, $white);
}

.landing-btn {
  @include btn-color(transparent, $black);
  height:auto;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding:19px;
}
