.wrong {
  @include card-color($red);
}

.correct {
  @include card-color($green);
  cursor: default;

  &.final-answer {
    border:3px solid $green;
  }
}

.card-bg-gray {
  background-color:$gray;
}

.card-link {
  color: $black;
  text-decoration: none;

  &:hover {
    color:$black;
    text-decoration: underline;
  }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}