.wrong {
  @include card-color($red);
}

.correct {
  @include card-color($green);
  cursor: default;
}

.card-bg-gray {
  background-color:$gray;
}

.card-icon-container {
  padding:15px;
}

.card-link {
  color: $black;
  text-decoration: none;

  &:hover {
    color:$black;
    text-decoration: underline;
  }
}
