.flex {
  display:flex;
}

.flex-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  align-items: flex-end;
}

.align-center {
  align-items:center;
}

.flex-grow-2 {
  flex-grow: 2;
}

.align-self-center {
  align-self: center;
}