.full-width {
  width: 100%;
}

.auto-width {
  width:auto;
}


// position helpers
.pos-relative {
  position:relative;
}

.pos-absolute {
  position:absolute;
}

.bottom-stick {
  bottom:0;
}
// image helpers
.logo {
  width:400px;
}


// border helpers
.border-right {
  border-right:1px solid $gray;
}

.border-bottom {
  border-bottom:1px solid $gray;
}

.border {
  border:1px solid $gray;
}

.border-top {
  border-top:1px solid $gray;
}
.no-border {
  border:0 !important; // needed to overrule elements
}


// text alignment helpers
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}


// padding helpers

.padding-right {
  padding-right:15px;
}

.padding-left {
  padding-left:15px;
}

.padding-bottom {
  padding-bottom:15px;
}

.padding-top {
  padding-top: 15px;
}

.padding {
  padding:15px;
}

.padding-light {
  padding:5px;
}
.no-padding {
  padding:0;
}

.no-padding-bottom {
  padding-bottom:0;
}

//margin helpers
.margin {
  margin:15px;
}

.margin-sides {
  margin: 0 15px;
}
.margin-bottom {
  margin-bottom:15px;
}

.margin-top {
  margin-top: 15px;
}

.margin-right {
  margin-right:15px;
}

.margin-clr {
  margin:0 !important; // needed to overwrite pearson elements default margin
}

// color
.white {
  color:$white;
}

.black {
  color:$black;
}

.green {
  color:$green;
}

.black-bg {
  background-color: $black;
}

.character-bg {
  background-color:$character-btn;
}

.special-bg {
  background-color: $stripe;
}

.hint-bg {
  background-color:$hint;
}
.no-bg {
  background-color:none;
  background:none;
}

// misc helpers
.scroll {
  height:450px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

}

.scroll-calc {
  height:300px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  
}

.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


.align-math {
  margin-right:22px;
}

.cursor-pointer {
  cursor:pointer;
}

.hide {
  display:none;
}

.menu-gradient {
  @include gradient-linear(45deg, #02101e, #585d60);
}

.footer-logo {
  width:225px;
}

.pearson-logo {
  width:200px;
}

.box-shadow-bottom {
  box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
}

.hide-overflow {
  overflow:hidden;
}

.flex-child-div {
  > div {

    display:flex;
  }
}

sup {
  font-size: .7rem;
}