.full-width {
  width: 100%;
}

.pos-relative {
  position:relative;
}

.margin-clr {
  margin:0 !important; // needed to overwrite pearson elements default margin
}

.logo {
  width:400px;
}

.border-right {
  border-right:1px solid $gray;
}

.border-bottom {
  border-bottom:1px solid $gray;
}

.text-center {
  text-align: center;
}

.padding-bottom {
  padding-bottom:15px;
}

.padding-top {
  padding-top: 15px;
}