.overlay {
  position:absolute;
  z-index: 1;
  width:100%;
  height:100%;
  background:$black;
  top:0;
  left:0;
}

.menu-overlay {
  @extend .overlay;
  width:95%;

  ul {
    padding-left:0;
  }

  li {
    list-style-type: none;
    border-bottom: 1px solid darken($gray, 50%);
  }
  a {
    color:$gray;
    text-decoration: none;
    padding:15px;
    display:block;
  }

  span {
    padding-right:15px;
  }
}

.construction-overlay {
  @extend .overlay;
  background:$white;
}

.calculate-overlay, .howto-overlay {
  @extend .overlay;
}