<div class="container text-center">
    {{>atoms-large-text(large-text: 'Try your own') }}
</div>
<div class="container">
    {{>atoms-input(placeholder-text: 'Type in a math problem to solve.  example: 3x+2')}}
</div>
<div class="containe text-center">
  {{>atoms-primary-button(primary: "Lets solve now")}}
</div>

