<button class="pe-btn pe-btn--large landing-btn" onclick="window.location.href='{{ link.screens-screen-two}}'">
    <span class="fa fa-folder-open fa-3x" aria-hidden="true"></span>
    <span class="icon-tap-text">{{browse}}</span>
</button>
