<button class="pe-btn pe-btn--primary pe-btn--large save-btn" onclick="window.location.href='{{url}}'">{{save}}
  {{#info}}
      <span class="fa fa-info-circle" aria-hidden="true"></span>
  {{/info}}
</button>
