<ul class="sg-colors">
    <li>
        <span class="sg-swatch" style="background: #ffffff;"></span>
        <span class="sg-label">
        $white <br />
        #ffffff
      </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #e6e6e6;"></span>
        <span class="sg-label">
        $brightly-lit<br />
        #e6e6e6
      </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #b3b3b3;"></span>
        <span class="sg-label">
        $gray <br />
        #b3b3b3
      </span>
    </li>
</ul>
