{{> components-navigation}}
<div class="container padding">
  {{> atoms-questions}}
</div>

<div class="container padding">
  {{>components-cards-question-answer-correct-progress(answer: "Subtract 2", math-top: "3x + 2 = 10", math-bottom-left: "-2", math-bottom-right: "-2", align-math: "14px")}}
  {{>components-cards-question-answer-correct-progress(answer: "Subtract 2", math-top: "3x + 2 = 10", math-bottom-left: "-2", math-bottom-right: "-2", align-math: "14px")}}
  {{>components-cards-question-answer-correct-progress(answer: "Subtract 2", math-top: "3x + 2 = 10", math-bottom-left: "-2", math-bottom-right: "-2", align-math: "14px")}}
</div>

<div class="container padding">
    {{> atoms-steps(step: "4/4")}}
  {{>layouts-problem-step-four}}
  {{>atoms-primary-button(primary: "Finish", added-class: "mobile-resize next hide", url: '{{link.screens-screen-twelve}}')}}
</div>

