{{> components-navigation}}
{{>components-equation-one(step-one: true, step-two: true, step-three: true, step-four: true, step-five: true, step-six: true)}}
<div class="container">
  {{>atoms-save-button(save: "Save to My Problems")}}
  {{>atoms-primary-button(primary: "Export Problem", added-class: "mobile-resize")}}
  {{>atoms-practice-button(practice: "Practice Similar Problems")}}
</div>

{{>components-calculator}}
git
