<div class="topic-container padding-top">
    <div class="title full-width text-center">
        <p>Help by topic</p>
    </div>
    <div class="icon-row padding-bottom border-bottom">
      {{>components-topic-selection}}
    </div>
</div>
<div class="topic-container padding-top">
    <div class="title full-width text-center">
        <p>Input Problem</p>
    </div>
    <div class="icon-row padding-bottom">
      {{>components-input-problem}}
    </div>
</div>

