<div class="container padding">
  {{> components-navigation(more-buttons: true) }}
  {{>atoms-select(select-option-one: 'Select discipline', select-option-two: 'Economics') }}

  <div class="filter-container flex space-between">
    {{>atoms-select(select-option-one: 'Type', select-option-two: 'Practice')}}
    {{>atoms-select(select-option-one: 'Sort by', select-option-two: 'Sort one')}}
  </div>
</div>
