<a href="{{link-url}}" class="card-link {{ styleModifier }}">
    <div class="pe-card flex flex-start align-center card-bg-gray margin-bottom link">
        <div class="container">
            <span class="fa fa-youtube-play fa-lg" aria-hidden="true"></span>
        </div>
        <div class="pe-card__content truncate">
            {{card-video}}
        </div>
    </div>
</a>
