{{> layouts-navigation-selected-topic-types-layout}}
<div class="container padding scroll">
    <div class="container padding border-top padding-top">
        <p class="padding-top text-center">Practice Problems:</p>
      {{>atoms-cards-generic-arrow(card-generic-arrow: 'If Neils elasticity of...')}}
      {{>atoms-cards-generic-arrow:problem(card-generic-arrow: 'Practice Problem: Understand Price Per Unit', link-url: '{{link.screens-screen-eight}}')}}
      {{>atoms-cards-generic-arrow(card-generic-arrow: 'Kate raises the price of...')}}
    </div>
</div>

