<a href="{{link-url}}" class="card-link">
  <div class="pe-card flex space-between align-center card-bg-gray margin-bottom">
      <div class="pe-card__content">
          {{card-generic-arrow}}
      </div>
      <div class="card-icon-container">
          <span class="fa fa-chevron-right" aria-hidden="true"></span>
      </div>
  </div>
</a>

