<div class="pe-card correct font-small {{ styleModifier }}">
    <div class="pe-card__content flex space-between align-center">
        <div class="answer padding-right">
            <span class="gray">{{answer}}</span>
        </div>
    </div>
</div>

