{{> components-navigation}}
<div class="scroll-calc">
  <div class="container text-center">
    {{>atoms-large-text(large-text: 'Try your own') }}
  </div>
  <div class="container no-padding-bottom">
    {{>atoms-input(start-problem: true, label: 'Type Problem:', placeholder-text: 'Example: 3x+2=10')}}
  </div>
  <div class="container text-center">
    {{>atoms-primary-button(primary: "Lets solve now")}}
  </div>
</div>

{{>components-calculator}}
