{{> layouts-navigation-layout}}
<div class="container padding scroll">
    <div class="container padding border-top padding-top">
      {{>atoms-cards-generic-arrow(card-generic-arrow: 'Other Content')}}
      {{>atoms-cards-hand-video(card-hand-video: 'Economics Video')}}
      {{>atoms-cards-generic-arrow(card-generic-arrow: 'Other Content')}}
      {{>atoms-cards-generic-arrow(card-generic-arrow: 'Economics Content')}}
      {{>atoms-cards-hand-video(card-hand-video: 'Economics Video')}}
      {{>atoms-cards-generic-arrow(card-generic-arrow: 'Economics Content')}}
      {{>atoms-cards-video(card-video: 'Calculate Price Elasticity Video')}}
      {{>atoms-cards-generic-arrow(card-generic-arrow: 'Economics Content')}}
      {{>atoms-cards-generic-arrow(card-generic-arrow: 'Economics Content')}}
    </div>
</div>
