<div class="pe-input {{styleModifier}}">
    {{#start-problem}}
        <label for="i3">{{label}}</label>
    {{/start-problem}}
    <input class="full-width" type="text" id="i3" placeholder="{{placeholder-text}}" value="{{value}}" readonly="true">
</div>
