<div class="pe-inlineblock pos-relative">
    <div class="icon-container right-center">
        <span class="pe-icon--chevron-down" aria-hidden="true"></span>
    </div>
    <div class="pe-select full-width margin-clr">
        <select id="se1" class="full-width">
            <option value="volvo">Select Discipline:</option>
            <option value="saab">Option one</option>
            <option value="mercedes">Option two</option>
            <option value="audi">Option three/option>
        </select>
    </div>
