<header class="padding-bottom">
    <nav class="flex space-between">
        <button class="pe-btn pe-btn--large menu-btn">
            <span class="fa fa-bars fa-lg menu-btn" aria-hidden="true"></span>
            <span class="pe-sr-only">menu</span>
        </button>
        {{# more-buttons }}
          <button class="pe-btn pe-btn--primary pe-btn--large">Disciplines</button>
          <button class="pe-btn pe-btn--large">Math</button>
        {{/more-buttons}}
    </nav>
</header>
