<header>
    <nav>
        <button class="pe-btn pe-btn--large menu-btn">
            <span class="fa fa-bars fa-lg menu-btn" aria-hidden="true"></span>
            <span class="pe-sr-only">menu</span>
        </button>
    </nav>
</header>
