<div id="answerGroup" class="answers margin-top">
  {{>components-cards-question-answer(correct-or-wrong: 'correct', answer: "Convert to unit price equation: $1.99/14.5 and $3.59/28")}}
  {{>components-cards-question-answer(correct-or-wrong: 'wrong', answer: "Convert to unit price equation: $1.99/28 and $3.59/14.5")}}
  {{>components-cards-question-answer(correct-or-wrong: 'wrong', answer: "Convert to unit price equation: $1.99 x 14.5 and $3.59 x 28")}}
  {{>components-cards-question-answer(correct-or-wrong: 'wrong', answer: "Convert to unit price equation: $1.99/$3.59 ")}}
</div>
