<div class="select-topic flex">
    <div class="topic-icon-container flex justify-center full-width border-right">
        {{> atoms-icon-tap-type-button }}
    </div>
    <div class="topic-icon-container flex justify-center full-width">
      {{> atoms-icon-tap-photo-button }}
    </div>
</div>
